In [1]:
import pandas as pd 
import os, time, json
from tqdm.notebook import tqdm_notebook
with open('/Users/carlo/.secret/tmdb_api.json', 'r') as f:
    login = json.load(f)
login.keys()

dict_keys(['api-key'])

In [2]:
import tmdbsimple as tmdb
tmdb.API_KEY = login['api-key']

In [3]:
movie = tmdb.Movies(603)

In [4]:
info = movie.info()
info

{'adult': False,
 'backdrop_path': '/ncEsesgOJDNrTUED89hYbA117wo.jpg',
 'belongs_to_collection': {'id': 2344,
  'name': 'The Matrix Collection',
  'poster_path': '/bV9qTVHTVf0gkW0j7p7M0ILD4pG.jpg',
  'backdrop_path': '/bRm2DEgUiYciDw3myHuYFInD7la.jpg'},
 'budget': 63000000,
 'genres': [{'id': 28, 'name': 'Action'},
  {'id': 878, 'name': 'Science Fiction'}],
 'homepage': 'http://www.warnerbros.com/matrix',
 'id': 603,
 'imdb_id': 'tt0133093',
 'original_language': 'en',
 'original_title': 'The Matrix',
 'overview': 'Set in the 22nd century, The Matrix tells the story of a computer hacker who joins a group of underground insurgents fighting the vast and powerful computers who now rule the earth.',
 'popularity': 87.704,
 'poster_path': '/f89U3ADr1oiB1s9GkdPOEpXUk5H.jpg',
 'production_companies': [{'id': 79,
   'logo_path': '/at4uYdwAAgNRKhZuuFX8ShKSybw.png',
   'name': 'Village Roadshow Pictures',
   'origin_country': 'US'},
  {'id': 372,
   'logo_path': None,
   'name': 'Groucho II Film Partnership',
   'origin_country': ''},
  {'id': 1885,
   'logo_path': '/xlvoOZr4s1PygosrwZyolIFe5xs.png',
   'name': 'Silver Pictures',
   'origin_country': 'US'},
  {'id': 174,
   'logo_path': '/zhD3hhtKB5qyv7ZeL4uLpNxgMVU.png',
   'name': 'Warner Bros. Pictures',
   'origin_country': 'US'}],
 'production_countries': [{'iso_3166_1': 'US',
   'name': 'United States of America'}],
 'release_date': '1999-03-30',
 'revenue': 463517383,
 'runtime': 136,
 'spoken_languages': [{'english_name': 'English',
   'iso_639_1': 'en',
   'name': 'English'}],
 'status': 'Released',
 'tagline': 'The fight for the future begins.',
 'title': 'The Matrix',
 'video': False,
 'vote_average': 8.211,
 'vote_count': 24346}

In [5]:
info['budget']

63000000

In [6]:
info['revenue']

463517383

In [7]:
info['imdb_id']

'tt0133093'

In [8]:
movie = tmdb.Movies('tt1361336')
info = movie.info()
info['budget']

50000000

In [9]:
releases = movie.releases()
for c in releases['countries']:
    if c['iso_3166_1'] == 'US':
        print(c['certification'])

PG
PG
PG

In [10]:
def get_movie_with_rating(movie_id):
    """Adapted from source = https://github.com/celiao/tmdbsimple"""
    movie = tmdb.Movies('tt1361336')
    info = movie.info()
    releases = movie.releases()
    for c in releases['countries']:
        if c['iso_3166_1'] == 'US':
            info['certification'] = c['certification']
    return info

In [11]:
test = get_movie_with_rating('tt0848228')
test

{'adult': False,
 'backdrop_path': '/9ns9463dwOeo1CK1JU2wirL5Yi1.jpg',
 'belongs_to_collection': None,
 'budget': 50000000,
 'genres': [{'id': 35, 'name': 'Comedy'},
  {'id': 10751, 'name': 'Family'},
  {'id': 16, 'name': 'Animation'}],
 'homepage': 'https://www.tomandjerrymovie.com',
 'id': 587807,
 'imdb_id': 'tt1361336',
 'original_language': 'en',
 'original_title': 'Tom & Jerry',
 'overview': 'Tom the cat and Jerry the mouse get kicked out of their home and relocate to a fancy New York hotel, where a scrappy employee named Kayla will lose her job if she can’t evict Jerry before a high-class wedding at the hotel. Her solution? Hiring Tom to get rid of the pesky mouse.',
 'popularity': 60.703,
 'poster_path': '/8XZI9QZ7Pm3fVkigWJPbrXCMzjq.jpg',
 'production_companies': [{'id': 25120,
   'logo_path': '/jCeWaKOUeQICItDLupWDfOQDiYO.png',
   'name': 'Warner Bros. Pictures Animation',
   'origin_country': 'US'},
  {'id': 8922,
   'logo_path': '/yZWehAyjfKi4KvKeg1bkJ1bm5H8.png',
   'name': 'Turner Entertainment',
   'origin_country': 'US'},
  {'id': 77061,
   'logo_path': None,
   'name': 'The Story Company',
   'origin_country': 'US'},
  {'id': 174,
   'logo_path': '/2Jeytq7R4CBLGsHKtRGIjMtpiuv.png',
   'name': 'Warner Bros. Pictures',
   'origin_country': 'US'}],
 'production_countries': [{'iso_3166_1': 'US',
   'name': 'United States of America'}],
 'release_date': '2021-02-10',
 'revenue': 136536687,
 'runtime': 101,
 'spoken_languages': [{'english_name': 'English',
   'iso_639_1': 'en',
   'name': 'English'}],
 'status': 'Released',
 'tagline': 'Best of enemies. Worst of friends.',
 'title': 'Tom & Jerry',
 'video': False,
 'vote_average': 6.823,
 'vote_count': 2340,
 'certification': 'PG'}

In [12]:
test_ids = ["tt0848228", "tt0115937","tt0848228","tt0332280"]
results = []
errors = []
for movie_id in test_ids:
    try:
        movie_info = get_movie_with_rating(movie_id)
        results.append(movie_info)
    except Exception as e:
        errors.append([movie_id, e])
pd.DataFrame(results)

,adult,backdrop_path,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,...,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count,certification
0,False,/9ns9463dwOeo1CK1JU2wirL5Yi1.jpg,None,50000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 10751, '...",https://www.tomandjerrymovie.com,587807,tt1361336,en,Tom & Jerry,...,136536687,101,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Best of enemies. Worst of friends.,Tom & Jerry,False,6.823,2340,PG
1,False,/9ns9463dwOeo1CK1JU2wirL5Yi1.jpg,None,50000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 10751, '...",https://www.tomandjerrymovie.com,587807,tt1361336,en,Tom & Jerry,...,136536687,101,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Best of enemies. Worst of friends.,Tom & Jerry,False,6.823,2340,PG
2,False,/9ns9463dwOeo1CK1JU2wirL5Yi1.jpg,None,50000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 10751, '...",https://www.tomandjerrymovie.com,587807,tt1361336,en,Tom & Jerry,...,136536687,101,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Best of enemies. Worst of friends.,Tom & Jerry,False,6.823,2340,PG
3,False,/9ns9463dwOeo1CK1JU2wirL5Yi1.jpg,None,50000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 10751, '...",https://www.tomandjerrymovie.com,587807,tt1361336,en,Tom & Jerry,...,136536687,101,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Best of enemies. Worst of friends.,Tom & Jerry,False,6.823,2340,PG

In [13]:
print(f"- Number of errors: {len(errors)}")
errors

- Number of errors: 0

[]

In [14]:
FOLDER = "Data/"
os.listdir(FOLDER)

['.ipynb_checkpoints',
 'movies-ERD.png',
 'title-akas-us-only.csv',
 'title.basics.csv',
 'title.ratings.csv',
 'tmdb_api_results_2000.json',
 'tmdb_api_results_2001.json',
 'tmdb_data_2000.csv.gz']

In [15]:
YEARS_TO_GET = [2001,2002]

In [16]:
# Start of OUTER loop
for YEAR in tqdm_notebook(YEARS_TO_GET, desc='YEARS', position=0):
    #Get index and movie id from list
    try:
    # Retrieve then data for the movie id
        temp = get_movie_with_rating(movie_id)  
    # Append/extend results to existing file using a pre-made function
        write_json(temp,JSON_FILE)
    # Short 20 ms sleep to prevent overwhelming server
        time.sleep(0.02)
    
    except Exception as e:
        errors.append([movie_id, e])

YEARS:   0%|          | 0/2 [00:00<?, ?it/s]

In [17]:
def write_json(new_data, filename): 
    """Appends a list of records (new_data) to a json file (filename). 
    Adapted from: https://www.geeksforgeeks.org/append-to-json-file-using-python/"""  
    
    with open(filename,'r+') as file:
        # First we load existing data into a dict.
        file_data = json.load(file)
        ## Choose extend or append
        if (type(new_data) == list) & (type(file_data) == list):
            file_data.extend(new_data)
        else:
             file_data.append(new_data)
        # Sets file's current position at offset.
        file.seek(0)
        # convert back to json.
        json.dump(file_data, file)

In [18]:
basics = pd.read_csv('Data/title.basics.csv')
basics.info()
basics.head(2)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 86979 entries, 0 to 86978
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Unnamed: 0      86979 non-null  int64
 1   tconst          86979 non-null  object
 2   titleType       86979 non-null  object
 3   primaryTitle    86979 non-null  object
 4   originalTitle   86979 non-null  object
 5   isAdult         86979 non-null  int64
 6   startYear       86979 non-null  float64
 7   endYear         0 non-null      float64
 8   runtimeMinutes  86979 non-null  int64
 9   genres          86979 non-null  object
dtypes: float64(2), int64(3), object(5)
memory usage: 6.6+ MB

,Unnamed: 0,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,34802,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001.0,NaN,118,"Comedy,Fantasy,Romance"
1,61114,tt0062336,movie,The Tango of the Widower and Its Distorting Mi...,El tango del viudo y su espejo deformante,0,2020.0,NaN,70,Drama

In [19]:
YEAR = 2000
error = []

In [20]:
JSON_FILE = f'{FOLDER}tmdb_api_results_{YEAR}.json'
file_exists = os.path.isfile(JSON_FILE)

In [21]:
# If it does not exist: create it
if file_exists == False:
    # Print a message indicating the file is being created 
    print(f"Creating {JSON_FILE} for API results for {YEAR}.")
    # save an empty dict with just "imdb_id" to the new json file.
    with open(JSON_FILE,'w') as f:
        json.dump([{'imdb_id':0}],f)

In [22]:
df = basics.loc[basics['startYear'] == YEAR].copy()
movies_id = df['tconst']

In [23]:
# Load existing data from json into a dataframe called "previous_df"
previous_df = pd.read_json(JSON_FILE)

In [24]:
movie_ids_to_get = movies_id[~movies_id.isin(previous_df['imdb_id'])]

In [26]:
# Loop through movie_ids_to_get with a tqdm progress bar
for movie_id in tqdm_notebook(movie_ids_to_get, f"Movies from {YEAR}"):
    try:
    # Retrieve then data for the movie id
        temp = get_movie_with_rating(movie_id)  
    # Append/extend results to existing file using a pre-made function
        write_json(temp,JSON_FILE)
    # Short 20 ms sleep to prevent overwhelming server
        time.sleep(0.02)
    
    except Exception as e:
        errors.append([movie_id, e])

Movies from 2000:   0%|          | 0/1457 [00:00<?, ?it/s]

In [27]:
print(f"- Totall errors: {len(errors)}")

- Totall errors: 2

In [28]:
df_2000 = pd.read_json(JSON_FILE)
df_2000.to_csv(f"{FOLDER}tmdb_data_{YEAR}.csv.gz", compression="gzip", index=False)

In [29]:
YEAR = 2001
error = []

In [30]:
JSON_FILE = f'{FOLDER}tmdb_api_results_{YEAR}.json'
file_exists = os.path.isfile(JSON_FILE)

In [31]:
# If it does not exist: create it
if file_exists == False:
    # Print a message indicating the file is being created 
    print(f"Creating {JSON_FILE} for API results for {YEAR}.")
    # save an empty dict with just "imdb_id" to the new json file.
    with open(JSON_FILE,'w') as f:
        json.dump([{'imdb_id':0}],f)

In [33]:
df = basics.loc[basics['startYear'] == YEAR].copy()
movies_id = df['tconst']

In [34]:
previous_df = pd.read_json(JSON_FILE)

In [35]:
movie_ids_to_get = movies_id[~movies_id.isin(previous_df['imdb_id'])]

In [36]:
# Loop through movie_ids_to_get with a tqdm progress bar
for movie_id in tqdm_notebook(movie_ids_to_get, f"Movies from {YEAR}"):
    try:
    # Retrieve then data for the movie id
        temp = get_movie_with_rating(movie_id)  
    # Append/extend results to existing file using a pre-made function
        write_json(temp,JSON_FILE)
    # Short 20 ms sleep to prevent overwhelming server
        time.sleep(0.02)
    
    except Exception as e:
        errors.append([movie_id, e])

Movies from 2001:   0%|          | 0/1576 [00:00<?, ?it/s]

In [37]:
print(f"- Totall errors: {len(errors)}")

- Totall errors: 2

In [38]:
df_2001 = pd.read_json(JSON_FILE)
df_2001.to_csv(f"{FOLDER}tmdb_data_{YEAR}.csv.gz", compression="gzip", index=False)

In [39]:
YEAR = 2002
error = []

In [40]:
JSON_FILE = f'{FOLDER}tmdb_api_results_{YEAR}.json'
file_exists = os.path.isfile(JSON_FILE)

In [41]:
# If it does not exist: create it
if file_exists == False:
    # Print a message indicating the file is being created 
    print(f"Creating {JSON_FILE} for API results for {YEAR}.")
    # save an empty dict with just "imdb_id" to the new json file.
    with open(JSON_FILE,'w') as f:
        json.dump([{'imdb_id':0}],f)

Creating Data/tmdb_api_results_2002.json for API results for 2002.

In [42]:
df = basics.loc[basics['startYear'] == YEAR].copy()
movies_id = df['tconst']

In [43]:
previous_df = pd.read_json(JSON_FILE)

In [44]:
movie_ids_to_get = movies_id[~movies_id.isin(previous_df['imdb_id'])]

In [45]:
for movie_id in tqdm_notebook(movie_ids_to_get, f"Movies from {YEAR}"):
    try:
    # Retrieve then data for the movie id
        temp = get_movie_with_rating(movie_id)  
    # Append/extend results to existing file using a pre-made function
        write_json(temp,JSON_FILE)
    # Short 20 ms sleep to prevent overwhelming server
        time.sleep(0.02)
    
    except Exception as e:
        errors.append([movie_id, e])

Movies from 2002:   0%|          | 0/1572 [00:00<?, ?it/s]

In [46]:
print(f"- Totall errors: {len(errors)}")

- Totall errors: 2

In [47]:
df_2002 = pd.read_json(JSON_FILE)
df_2002.to_csv(f"{FOLDER}tmdb_data_{YEAR}.csv.gz", compression="gzip", index=False)

In [48]:
import glob
# Use glob to get all filepaths that match the pattern (*=wildcard)
tmdb_files = sorted(glob.glob("Data/tmdb_data*.csv.gz"))
tmdb_files

['Data\\tmdb_data_2000.csv.gz',
 'Data\\tmdb_data_2001.csv.gz',
 'Data\\tmdb_data_2002.csv.gz']

In [51]:
# Use read_csv in a list comprehension and combine with concat to load all files
df = pd.concat([pd.read_csv(f) for f in tmdb_files] )
df.head()

,imdb_id,adult,backdrop_path,belongs_to_collection,budget,genres,homepage,id,original_language,original_title,...,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count,certification
0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,tt1361336,0.0,/9ns9463dwOeo1CK1JU2wirL5Yi1.jpg,NaN,50000000.0,"[{'id': 35, 'name': 'Comedy'}, {'id': 10751, '...",https://www.tomandjerrymovie.com,587807.0,en,Tom & Jerry,...,136536687.0,101.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Best of enemies. Worst of friends.,Tom & Jerry,0.0,6.823,2340.0,PG
2,tt1361336,0.0,/9ns9463dwOeo1CK1JU2wirL5Yi1.jpg,NaN,50000000.0,"[{'id': 35, 'name': 'Comedy'}, {'id': 10751, '...",https://www.tomandjerrymovie.com,587807.0,en,Tom & Jerry,...,136536687.0,101.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Best of enemies. Worst of friends.,Tom & Jerry,0.0,6.823,2340.0,PG
3,tt1361336,0.0,/9ns9463dwOeo1CK1JU2wirL5Yi1.jpg,NaN,50000000.0,"[{'id': 35, 'name': 'Comedy'}, {'id': 10751, '...",https://www.tomandjerrymovie.com,587807.0,en,Tom & Jerry,...,136536687.0,101.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Best of enemies. Worst of friends.,Tom & Jerry,0.0,6.823,2340.0,PG
4,tt1361336,0.0,/9ns9463dwOeo1CK1JU2wirL5Yi1.jpg,NaN,50000000.0,"[{'id': 35, 'name': 'Comedy'}, {'id': 10751, '...",https://www.tomandjerrymovie.com,587807.0,en,Tom & Jerry,...,136536687.0,101.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Best of enemies. Worst of friends.,Tom & Jerry,0.0,6.823,2340.0,PG