In [1]:
import pandas as pd 
import os, time, json
from tqdm.notebook import tqdm_notebook
FOLDER = "Data/"
os.makedirs(FOLDER, exist_ok=True)
os.listdir(FOLDER)

['.ipynb_checkpoints',
 'movies-ERD.png',
 'title-akas-us-only.csv',
 'title.basics.csv',
 'title.ratings.csv',
 'tmdb_api_results_2001.json',
 'tmdb_api_results_2002.json',
 'tmdb_data_2001.csv.gz',
 'tmdb_data_2002.csv.gz']

In [2]:
def write_json(new_data, filename): 
    """Appends a list of records (new_data) to a json file (filename). 
    Adapted from: https://www.geeksforgeeks.org/append-to-json-file-using-python/"""  
    
    with open(filename,'r+') as file:
        # First we load existing data into a dict.
        file_data = json.load(file)
        ## Choose extend or append
        if (type(new_data) == list) & (type(file_data) == list):
            file_data.extend(new_data)
        else:
             file_data.append(new_data)
        # Sets file's current position at offset.
        file.seek(0)
        # convert back to json.
        json.dump(file_data, file)

In [3]:
basics = pd.read_csv('Data/title.basics.csv')
basics.info()
basics.head(2)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 86979 entries, 0 to 86978
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Unnamed: 0      86979 non-null  int64
 1   tconst          86979 non-null  object
 2   titleType       86979 non-null  object
 3   primaryTitle    86979 non-null  object
 4   originalTitle   86979 non-null  object
 5   isAdult         86979 non-null  int64
 6   startYear       86979 non-null  float64
 7   endYear         0 non-null      float64
 8   runtimeMinutes  86979 non-null  int64
 9   genres          86979 non-null  object
dtypes: float64(2), int64(3), object(5)
memory usage: 6.6+ MB

,Unnamed: 0,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,34802,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001.0,NaN,118,"Comedy,Fantasy,Romance"
1,61114,tt0062336,movie,The Tango of the Widower and Its Distorting Mi...,El tango del viudo y su espejo deformante,0,2020.0,NaN,70,Drama

In [4]:
YEARS_TO_GET = [2001,2002]
errors = []

In [6]:
JSON_FILE = f'{FOLDER}tmdb_api_results_{YEARS_TO_GET}.json'
file_exists = os.path.isfile(JSON_FILE)

In [8]:
# If it does not exist: create it
if file_exists == False:
    # Print a message indicating the file is being created 
    print(f"Creating {JSON_FILE} for API results for {YEARS_TO_GET}.")
    # save an empty dict with just "imdb_id" to the new json file.
    with open(JSON_FILE,'w') as f:
        json.dump([{'imdb_id':0}],f)

Creating Data/tmdb_api_results_[2001, 2002].json for API results for [2001, 2002].

# df = basics.loc[ basics['startYear'] == YEARS_TO_GET].copy()

movie_ids = df['tconst']

previous_df = pd.read_json(JSON_FILE)

movie_ids_to_get = movie_ids[~movie_ids.isin(previous_df['imdb_id'])]

In [ ]:
for YEAR in tqdm_notebook(YEARS_TO_GET, f"Movies from {YEAR}"):
    try:
        temp = get_movie_with_rating(YEAR)
        write_json(temp, JSON_FILE)
        time.sleep(0.02)
    except Exception as e:
        errors.append([YEAR, e])
        print(f"- Total errors: {len(errors)}")

In [ ]:
df_2000 = pd.read_json(JSON_FILE)
df_2000.to_csv(f"{FOLDER}tmdb_data_{YEAR}.csv.gz", compression="gzip", index=False)

In [ ]:
df_2001 = pd.read_json(JSON_FILE)
df_2001.to_csv(f"{FOLDER}tmdb_data_{YEAR}.csv.gz", compression="gzip", index=False)

In [ ]:
df_2002 = pd.read_json(JSON_FILE)
df_2002.to_csv(f"{FOLDER}tmdb_data_{YEAR}.csv.gz", compression="gzip", index=False)

In [ ]:
import glob
# Use glob to get all filepaths that match the pattern (*=wildcard)
tmdb_files = sorted(glob.glob("Data/tmdb_data*.csv.gz"))
tmdb_files